.filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 20px;
    width: 100%;
}

    @media (min-width: 0px) {
    .filters {
        grid-template-columns: 1fr;
        justify-items: center;

    }




}

@media (min-width: 768px) {
    .filters {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }


}