.filters {
  // display: flex;
  // gap: 15px 20px;
  // flex-wrap: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 15px 20px;
  width: 100%;
  
}

@media (min-width: 0px) {
  .filters {
  }
}

@media (min-width: 768px) {
  .filters {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
