.ListWrapper {
  z-index: 50;
  position: absolute;
  width: 100.75%;
  max-height: 300px;
  overflow-y: auto;
  bottom: 0;
  left: -1px;

  transform: translateY(100%);
  padding: 20px 0px;
  border-radius: 0px 0px 8px 8px;

  &::-webkit-scrollbar {
    width: 9px;
    background-color: none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #7b7b7b;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  }
}

.List {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  margin: 0;
  padding-left: 22px;

  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
