@import "nullstyle";
@import "defaultStyles";
@import "variables";
@import "theme";
@import "svg";







.color {
    color: var(--color);
    transition-duration: 150ms;
}

.color-hover {
    color: var(--color-hover);
    transition-duration: 150ms;
    &:hover {
        color: var(--color-hover);
            transition-duration: 150ms;
    }
}

.background {
    background-color: var(--background);
    transition-duration: 150ms;
}

.background-hover {
    background-color: var(--background-hover);
    transition-duration: 150ms;
    &:hover {
        background-color: var(--background-hover);
            transition-duration: 150ms;
    }
}

.border {
    border: var(--border);
}

.border-hover {
    border: var(--border-hover);
    &:hover {
        border: var(--border-hover)
    }
}




.input-border {
    border: var(--input-border);
    transition-duration: 150ms;
}


.disabled {
    border: 1px solid rgba(0, 0, 0, 0.30);
}






.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0px auto;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    width: 100%;
}

._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}